.container

  %form{action: '/cadet', method: 'get', id: 'user-form'}
    %input{type: 'text', name: 'username', id: 'home-form-username', placeholder: 'username here...'}
    %input{type: 'submit', id: 'home-form-submit', class: 'submit', value: 'submit'}
  %p

  -if @cadet
    %table{class: 'center'}
      -if true
        %tbody
          %tr
            %th Badge
            %th Date
          -@cadet['badges'].each do |badge|
            %tr
              %td
                = badge['id']
              %td{width: '300'}
                = badge['date']
