.copyright
  Code at Github: <a class=lightlink href='https://github.com/ISS-SOA/simple_cadet'>ISS-SOA/simple_cadet</a>
  %br
  Based on: <a class=lightlink href='https://github.com/ISS-SOA/codecadet'>codecadet</a> by <a class=lightlink href='https://github.com/ChenLiZhan'>chenlizhan</a>
